streamlit == 1.40.1
moviepy == 1.0.3
opencv-python-headless
regex == 2024.4.28
pymupdf == 1.25.1
streamlit-sortables == 0.3.1
streamlit-drawable-canvas == 0.9.3
fpdf2 == 2.8.2
groq == 0.22.0
pymongo == 4.11.3